@import '/src/style/main.scss';

.block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &--green {
    background-color: #d5f0c1;
  }

  &--yellow {
    background-color: #f9f7c9;
  }

  &--blue {
    background-color: #80bcbd;
  }
}
